<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpPlatform stdoutLogEnabled="true" stdoutLogFile="D:\Redmine\log\rails.log" startupTimeLimit="20" processPath="C:\Ruby30-x64\bin\ruby.exe"
		arguments="&quot;C:\Ruby30-x64\bin\puma&quot; -e production -p 3008">          
        </httpPlatform>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>